.itemListContainer {
    @extend %font-primary-l;
    background-color: #efefef;
    position: absolute;
    top: 100px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -10;
    h1 {
        @extend %font-primary-xl;
        font-size: 48px;
        margin: 30px auto;
        text-transform: uppercase;
    }
}