
/* --------- COLOR ----------- */

$color-primary: #000;
$color-secondary: #FFF;

/* ------ COLOR BUTTON-------- */

$bg-btn-aceptar: #2ECC71;
$bg-btn-modificar: #2E86C1;
$bg-btn-descartar: #C70039;
